
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Footer styling */
footer {
    display: flex !important; /* Align items in a horizontal row */
    justify-content: space-between; /* Space between copyright text and social icons */
    align-items: center; /* Vertically center the content */
    padding: 10px 20px; /* Padding for spacing */
    background-color: / /*#f8f9fa*/ #1C211D; /* Optional: Footer background color */
    box-sizing: border-box; /* Ensure padding is included in the element's total width/height */
    width: 100%; /* Ensure footer takes full width */
    position: relative;
    bottom: 0; /* Aligns the footer to the bottom of the page */

}

/* Copyright styling for footer */
.footer-copyright {
    margin-left: 20px; /* Ensure consistent spacing from the left end */
    font-size: 14px; /* Adjust font size as needed */
    color: #6c757d; /* Optional: Text color */
}

/* Social media styling for footer */
.social-media {
    display: flex; /* Align social media icons horizontally */
    margin-right: 20px; /* Ensure consistent spacing from the right end */
}


    .social-media a {
        color: black; /* Set icon color to black */
        margin: 0 10px; /* Space between icons */
        font-size: 30px; /* Set the size of the icons */
        text-decoration: none; /* Remove underline from links */
    }

        .social-media a:hover {
            color: #C91616; /* Optional: Change color on hover */
        }





